@{ 
    var controllerName = ViewContext.RouteData.GetRequiredString("controller");
}
<!--modalExcluir-->
<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="/@controllerName/Excluir" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> Confirmação de exclusão</h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="id" name="id" />
                    <p>Deseja realmente excluir o registro <strong id="nome"></strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Excluir</button>
                </div>
            </div>
        </form>
    </div>
</div>